/* Control the structure of the each page such that mainPage(index.html), page1, and page2 */

.mainPage
{
    display: grid;
    margin: 0px;

    grid-template-rows: 80px 80px auto auto auto 300px;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "mainAd mainAd mainAd"
        "leftCard middleCard rightCard"
        "faq faq faq"
        "footer footer footer";
}

.ticketPage
{
    display: grid;
    margin: 0px;

    grid-template-rows: 80px 80px auto auto 300px;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "mainAd mainAd mainAd"
        "leftCard middleCard rightCard"
        "footer footer footer";
}
body > *
{
    margin: 3px;
    padding: 20px;
}

/* end the structure----------------------------------------------------------------------------------------------- */

/* Header, navigation bar, and footer are in common all pages*/

/* Header */
header
{
    grid-area: header;
    font-family: Arial, Helvetica, sans-serif;
    background: white;

    text-align: left;
    /* Pin the header to the upper bound */
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    /* Prevent overlaping*/
    z-index:10;
}

/* Navigation bar */
nav
{
    grid-area: nav;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    width:100%;
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0px;
    /* Prevent overlaping*/
    z-index:10;
}
nav ol
{
    border:1px solid lightgrey;
    /* left is upper and bottom margin, right is left and right margin*/
    border-width:5px 0px;
    /* left margin*/
    padding:0;
    text-align:left;
}
nav li
{
    
    display:inline;
    border-radius: 5px;;
    padding:5px;
}
nav li a
{
    text-decoration: none;
    font-size: 1.2em;
    color: grey;
    display:inline-block;
    padding:6px;
}

/* footer */
#contact
{
    font-size: 0.6em;
}
footer
{
    grid-area: footer;
    background: grey;
    width:100%;  
    display:inline-block;
    padding:40px;
}
footer ul
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.8em;
    color: white;
    padding:10px;
}

/* end Header, navigation bar, and footer------------------------------------------------------------------------------------------ */

/* index page structure */
#mainAd
{
    grid-area: mainAd;
    background: #afa;
}
#leftCard
{
    grid-area: leftCard;
    background: #aaf;
    text-align: center;
}
#middleCard
{
    grid-area: middleCard;
    background: #aaf;
    text-align: center;
}
#rightCard
{
    grid-area: rightCard;
    background: #faf;
    text-align: center;
}
#faq
{
    grid-area: faq;
    background: white;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
/* end index structure----------------------------------------------------------------------------------------------- */
.ticketButton
{
    border: none;
    background-color: orangered;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}